header{
    width:100%;
    height:80px;
    background-color: white;
    box-shadow: 2px 2px 4px lightgray;
    text-align: center;
}

footer{
    width:100%;
    height: 40px;
    background-color: white;
    color: gray;
    text-align: center;
    line-height: 40px;
    font-size:13px;
    border-top: lightgray solid 2px;
}

.mainbox{
    margin: 0 auto;
    border: lightgray solid 2px;
    width: 600px;
    background-color: white;
    border-radius: 10px;
    margin-top: 40px;
    margin-bottom: 40px;
    box-shadow: 4px 4px 4px lightgray;
    text-align: center;
    height: 400px;
}

body{
    margin: 0 auto;
    background-color: f8f8f8;
}

.mainbox p{
    margin-top: 50px;
}   
    
.button1{
    border: 1px solid lightgray;
    padding-top:4px;
    color: white;
    background-color: #31A263;
    border-radius: 5px;
    border-bottom: solid 2px gray;
    width:200px;
    margin-bottom: 20px;
    
} 

header img{
    margin-top: 15px;
    height: 50px;
    padding-left: 40px;
}
    