body{
    margin: 0 auto;
    background-color: gray;
}

header{
    width:100%;
    height:80px;
    background-color: white;
    box-shadow: 2px 2px 4px lightgray;
    text-align: center;
}

header img{
    margin-top: 15px;
    height: 50px;
    padding-left: 40px;
}

.logout{
    float:right;
    margin-top: 50px;
    margin-right: 20px;
    font-size: 14px;
}

main{
    clear: left;
    width: 100%;
}

.box{
    margin: 0 auto;
    border: lightgray solid 2px;
    width: 650px;
    background-color: white;
    border-radius: 10px;
    margin-top: 40px;
    margin-bottom: 40px;
    box-shadow: 4px 4px 4px lightgray;
}

h2{
    text-align: center;
    border-bottom: solid 1px #31A263;
    font-size: 20px;
    margin-left:15px;
    margin-right: 15px;
}


footer{
    width:100%;
    height: 40px;
    background-color: white;
    color: gray;
    text-align: center;
    line-height: 40px;
    font-size:13px;
    border-top: lightgray solid 2px;
}

.profile_pic{
    display: inline-block;
    margin-left: 70px;
    border: 3px solid black;
}

.profile_pic img{
    width: 200px;
}

.basic_info{
    float:right;
    margin-right: 50px;
}

.hello{
    margin-left: 30px;
    margin-bottom: 50px;
}

.comments{
    border-top: lightgray 3px solid;
    margin-top: 60px;
    margin-left: 15px;
    margin-right: 15px;
    padding: 30px;
    text-align: center;
}

.submit_button{
    border: 1px solid lightgray;
    width: 150px;
    color: white;
    background-color: #31A263;
    border-radius: 5px;
    border-bottom: solid 2px gray;
    text-align: center;
}

.buttonking{
    text-align: center;
    margin-bottom: 50px;
}